{{ $header := ""}}
{{- with .Resources.GetMatch "header" -}}
          {{- if eq .MediaType.SubType "gif" -}}
            {{- $header = .RelPermalink -}}
          {{- else }}
            {{- $image := .Resize "1920x" -}}
            {{- $header = $image.RelPermalink -}}
          {{- end }}
        {{- else }}
          {{- $header = $.Site.Params.headerPhoto -}}
        {{- end -}}
        
<!-- -------- START HEADER 1 w/ text and image on right ------- -->
<header>
    <div class="page-header min-vh-{{- .Params.options.headerHeight | default "75" -}}"> 
      <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
        <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" 
        style="background-image:url('{{$header}}')"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-7 d-flex justify-content-center text-md-left text-center flex-column mt-sm-0 mt-7">
            <h1 class="text-gradient text-primary">{{ .Title }}</h1>
            <h2 class="mb-4">{{ with .Params.subtitle }} {{ . }} {{ end }}</h2>
            {{ with .Params.lead }}
              <p class="lead pe-md-5 me-md-5">{{. | safeHTML}}</p>
            {{ end }}
            {{ with .Params.cta }}
              <div class="buttons">
                  {{ range . }}
                  <a href="{{.url}}" class="btn {{ with .classes }} {{.}} {{ end }} mt-4" {{ if strings.HasPrefix .url "http" }} target="_blank"{{ end }} >{{ .label | safeHTML }}</a>
                  {{ end }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </header>
<!-- -------- END HEADER 1 w/ text and image on right ------- -->